@font-face {
    font-family: "Iberdrola Icons";
    src: url("../../fonts/iberdrola-icons.eot");
    src: url("../../fonts/iberdrola-icons.eot?#iefix") format("embedded-opentype"), url("../../fonts/iberdrola-icons.woff2") format("woff2"), url("../../fonts/iberdrola-icons.woff") format("woff"), url("../../fonts/iberdrola-icons.ttf") format("truetype"), url('../../fonts/iberdrola-icons.svg#str-replace("Iberdrola Icons",  " ",  "_")') format("svg");
}