[class*="btn-"]{
	position: relative;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	@include noapearance;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 1rem 1.8rem;
    border: 1px solid transparent;
    border-radius: 60rem;
    transition: all 0.25s ease-out;
    font-size: .75rem;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
	@include btn-color($color-verde-claro);

    &:hover,
    &:focus,
    &:active{
    	box-shadow: none!important;
    }
}
/*****************************************************
                   STYLE OF ICON
******************************************************/
[class*="btn-"]{
	&[class*="icon-"]{
		&.btn-xl{
	    	padding-right: 6.5rem;
		}
		&.btn-lg{
	    	padding-right: 4.6rem;
		}
		&.btn-md{
	    	padding: 1.25rem 2.8rem;
		}
		&.btn-sm{
	    	padding-right: 2rem;
		}
	}
}
/*****************************************************
                      SIZE
******************************************************/
[class*="btn-"]{
	&.btn-xl{
	    font-size: .95rem;
	    min-width: 19rem;
	    padding: 1.25rem 5.5rem;
	}
	&.btn-lg{
	    font-size: .95rem;
	    padding: 1.25rem 3.75rem;
	}
	&.btn-md{
	    font-size: .9rem;
	    padding: 1.25rem 2.8rem;
	}
	&.btn-sm{
	    font-size: .75rem;
	    padding: .6rem 1.25rem;
	}
}
@include media-breakpoint-down(md){
	[class*="btn-"]{
		&[class*="btn-"],
		&[class*="icon-"]{
			&[class*="btn-"]{
				min-width:100%;
				width:100%;
				padding-right:0.5rem;
				padding-left:0.5rem;
			}
		}
	}
}
//Sendoa: Para quitar las feclas del carousel
.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}