

<nav class="navbar navbar-light green">
  <span class="navbar-brand mb-0 h1">IBERDROLA COMPONENTS</span>
</nav>

<br>

<app-user-list [userList]="userList"></app-user-list>


<hr>
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-primary"
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Simple demo
</button>

  </div>

  <hr>

<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker
           [bsConfig]="{ isAnimated: true }">
  </div>
 
</div>

<div class="row">
  <div class="form-group">
    <button class="icon-before-calendar primary" aria-expanded="false"></button>
  </div>

<hr>
</div>

<hr>

<h2>Cajas de Formulario</h2>
  <input class="" type="text">

</div>