/**************************************************
                  GRID
**************************************************/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1921px);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$container-max-widths: (
  sm: 540px,
  md: 100%, //720px,
  lg: 100%, //960px,
  xl: 1140px,
  xxl: 1560px);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows: true;
$enable-responsive-font-sizes: true;


/**************************************************
                  COLORES
**************************************************/
@import "../_utils/variables";
$theme-colors: (
  "primary":    $color-verde-claro,
  "secondary":  $color-naranja,
  "success":    $color-verde,
  "info":       $color-azul,
  "warning":    $color-verde-oscuro,
  "danger":     $color-naranja-oscuro,
  "light":      $color-gris-claro,
  "dark":       $color-gris-oscuro,
  "medium":     $color-gris,
  "white":      $color-blanco,
  "light-gray": $color-gris-claro,
  "medium-gray":$color-gris,
  "dark-gray":  $color-gris-oscuro,
  "black":      $color-negro
);



/**************************************************
                  FUENTES
**************************************************/
//$font-family-sans-serif:      $fuenteText;
/*
$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$lead-font-size:              $font-size-base * 1.25 !default;*/

